.page-title {
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: rgba(158, 55, 154, 0.6);
  text-shadow: 0px 0px 6px rgb(255, 255, 255);
}

.page-sub-title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: rgba(158, 55, 154, 0.6);
  text-shadow: 0px 0px 6px rgb(255, 255, 255);
}

.profile-container {
  margin: 1rem 5rem 0rem 5rem;
  display: flex;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 2px 5px lightgray;
  background-color: var(--offWhite);
  max-height: 600px;
  width: 800px;
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-image {
  align-self: center;
  padding: 40px;
}

.profile-info {
  font-family: "Roboto", sans-serif;
  color: rgb(79, 17, 146);
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 30px;
  line-height: 2rem;
}

.post-container {
  margin: 1rem 5rem 0rem 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 2px 5px lightgray;
  background-color: var(--offWhite);
  max-height: 600px;
  width: 1500px;
  justify-content: space-between;
}

.post-image {
  align-self: center;
  padding: 40px;
}

.post-info {
  font-family: "Roboto", sans-serif;
  color: rgb(79, 17, 146);
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 30px;
  line-height: 2rem;
}

.post-info:hover {
  color: rgb(158, 100, 215);
}

.btn-container {
  padding: 30px;
  align-self: center;
}
.btn {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(158, 55, 154, 0.6);
  text-align: center;
  transition: all 0.15s;
}
.btn:hover {
  color: rgb(79, 17, 146);
  border-color: #dddddd;
}
.btn:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}
@media all and (max-width: 30em) {
  .btn {
    display: block;
    margin: 0.4em auto;
  }
}
